<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Title
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>
</section>

<section class="section" style="margin-top: 10%">
  <div class="container">
    <h1 class="title has-text-centered" style="margin-bottom: 8%; margin-top: 8%">
      Give A Gift
    </h1>
    
    <div class="subtitle has-text-centered">
      <%= form_for registries_path, method: :get do |f| %> 
        <p> 
          <%= f.label "Search: " %> 
          <%= text_field_tag :q, params[:q] %> 
          <%= submit_tag "Search", name: nil %>
        </p>
      <% end %> 
    </div>

    <div class="subtitle has-text-centered" style="width: 80%; margin: auto">
      <% @registries.each do |registry| %>
        <!-- Loop over the media object -->
        <article class="media" style="padding-top: 5%">
          <figure class="media-left square">
            <div class="has-text-centered">
              Name
            </div>
          </figure>

          <div class="media-content" style="margin-left: 20%">
            <%= registry.name %>
            <%= link_to 'Show', registry %>
            <%= link_to 'Edit', edit_registry_path(registry) %>
            <%= link_to 'Destroy', registry, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>

          <div class="media-right">
            <button class="button is-link">Select Registry</button>
          </div>      
        </article>
      <% end %>          
    </div>    

    <div class="subtitle has-text-centered" style="margin-top: 10%">
      <%= link_to 'New Registry', new_registry_path %>
    </div>
  </div>
</section>

<footer class="footer" style="width: auto">
  <div class="has-text-centered" style="width: 85%;
  border-top: solid gray 1px;
  margin: auto;
  margin-top: 18%"
  >
  <!-- -->
  </div>

  <div class="content has-text-centered" style="width: 100%">    
    <p>
      Footer
    </p>
  </div>
</footer>


